<a href="https://colab.research.google.com/github/arg-m/python/blob/main/%D0%91%D0%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Краснова Юлия, 09-313

In [ ]:
import sqlite3
import os
from datetime import datetime

# Подключение к базе данных (создание файла library.db)
if os.path.exists('library.db'):
    os.remove('library.db')

conn = sqlite3.connect('library.db')
cursor = conn.cursor()

# 1. Создание таблицы books
cursor.execute('''
CREATE TABLE IF NOT EXISTS books (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    title TEXT NOT NULL,
    author TEXT NOT NULL,
    year_published INTEGER,
    genre TEXT
)
''')

# 2. Вставка данных
books_data = [
    ("The Great Gatsby", "F. Scott Fitzgerald", 1925, "Fiction"),
    ("1984", "George Orwell", 1949, "Dystopian"),
    ("To Kill a Mockingbird", "Harper Lee", 1960, "Classic")
]
cursor.executemany('''
INSERT INTO books (title, author, year_published, genre) VALUES (?, ?, ?, ?)
''', books_data)

# 3. Выборка всех данных
cursor.execute('SELECT * FROM books')
print("Все книги:")
for row in cursor.fetchall():
    print(row)

# 4. Фильтрация данных (книги после 1950 года)
cursor.execute('SELECT * FROM books WHERE year_published > 1950')
print("\nКниги, опубликованные после 1950 года:")
for row in cursor.fetchall():
    print(row)

# 5. Использование оператора LIKE (названия начинаются с "T")
cursor.execute('SELECT * FROM books WHERE title LIKE "T%"')
print("\nКниги, название которых начинается с 'T':")
for row in cursor.fetchall():
    print(row)

# 6. Сортировка данных (по году публикации)
cursor.execute('SELECT * FROM books ORDER BY year_published ASC')
print("\nКниги, отсортированные по году публикации:")
for row in cursor.fetchall():
    print(row)

# 7. Ограничение количества строк (первые две книги, отсортированные по названию)
cursor.execute('SELECT * FROM books ORDER BY title LIMIT 2')
print("\nПервые две книги, отсортированные по названию:")
for row in cursor.fetchall():
    print(row)

# 8. Агрегатные функции (общее количество книг)
cursor.execute('SELECT COUNT(*) FROM books')
total_books = cursor.fetchone()[0]
print(f"\nОбщее количество книг: {total_books}")

# 9. Группировка данных (количество книг для каждого жанра)
cursor.execute('SELECT genre, COUNT(*) FROM books GROUP BY genre')
print("\nКоличество книг для каждого жанра:")
for row in cursor.fetchall():
    print(row)

# 10. Обновление данных (обновить год публикации книги "1984" на 1948)
cursor.execute('UPDATE books SET year_published = 1948 WHERE title = "1984"')

# 11. Удаление данных (удалить книгу "The Great Gatsby")
cursor.execute('DELETE FROM books WHERE title = "The Great Gatsby"')

# 12. Создание индекса (для столбца author)
cursor.execute('CREATE INDEX IF NOT EXISTS idx_author ON books(author)')

# 13. Проверка существования индекса
cursor.execute("SELECT name FROM sqlite_master WHERE type='index' AND name='idx_author'")
index_exists = cursor.fetchone()
print(f"\nИндекс для столбца author {'существует' if index_exists else 'не существует'}.")

# 14. Триггер для логирования
cursor.execute('''
CREATE TABLE IF NOT EXISTS logs (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    message TEXT
)
''')
cursor.execute('''
CREATE TRIGGER IF NOT EXISTS log_insert AFTER INSERT ON books
BEGIN
    INSERT INTO logs (message) VALUES ('Добавлена новая книга: ' || NEW.title);
END;
''')

# 15. Транзакции
try:
    conn.execute('BEGIN TRANSACTION')
    # Добавление новой книги
    cursor.execute('INSERT INTO books (title, author, year_published, genre) VALUES (?, ?, ?, ?)',
                   ("New Book", "Author Name", 2023, "Fantasy"))
    # Обновление года публикации другой книги
    cursor.execute('UPDATE books SET year_published = 1961 WHERE title = "To Kill a Mockingbird"')
    # Отмена изменений (раскомментируйте следующую строку для отмены транзакции)
    # raise Exception("Ошибка транзакции!")
    conn.commit()
except Exception as e:
    conn.rollback()
    print(f"Транзакция отменена: {e}")

# 16. Пользовательская функция (возраст книги)
def book_age(year_published):
    current_year = datetime.now().year
    return current_year - year_published

conn.create_function("book_age", 1, book_age)
cursor.execute('SELECT title, book_age(year_published) AS age FROM books')
print("\nВозраст книг:")
for row in cursor.fetchall():
    print(row)

# 17. Представления (modern_books)
cursor.execute('''
CREATE VIEW IF NOT EXISTS modern_books AS
SELECT * FROM books WHERE year_published > 1950
''')

# 18. Удаление таблицы и проверка её существования
cursor.execute('DROP TABLE IF EXISTS books')
cursor.execute("SELECT name FROM sqlite_master WHERE type='table' AND name='books'")
table_exists = cursor.fetchone()
print(f"\nТаблица books {'существует' if table_exists else 'не существует'}.")

# Пересоздаем таблицу books, если она была удалена
cursor.execute('''
CREATE TABLE IF NOT EXISTS books (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    title TEXT NOT NULL,
    author TEXT NOT NULL,
    year_published INTEGER,
    genre TEXT
)
''')

# Вставляем данные заново (если таблица была удалена)
books_data = [
    ("The Great Gatsby", "F. Scott Fitzgerald", 1925, "Fiction"),
    ("1984", "George Orwell", 1949, "Dystopian"),
    ("To Kill a Mockingbird", "Harper Lee", 1960, "Classic")
]
cursor.executemany('''
INSERT INTO books (title, author, year_published, genre) VALUES (?, ?, ?, ?)
''', books_data)

# 19. Композитный индекс
cursor.execute('CREATE INDEX IF NOT EXISTS idx_author_year ON books(author, year_published)')
print("\nКомпозитный индекс создан.")

# 20. Удаление базы данных
conn.close()
import os
if os.path.exists('library.db'):
    os.remove('library.db')
    print("\nБаза данных library.db удалена.")
else:
    print("\nБаза данных library.db не найдена.")